.inner-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-certificate h1 {
  color: brown;
  background-color: #ffd166;
  padding: 13px;
  border-radius: 22px;
}

.inner-certificate .certificate1 {
  width: 70vw;
  height: 620px;
  background-image: url("/images/Certificate/Cerificate_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media (max-width: 1220px){
    .inner-certificate .certificate1{
        height: 550px;
    }
}

@media (max-width: 1090px){
    .inner-certificate .certificate1{
        height: 450px;
        width: 60vw;
    }
}

@media (max-width: 480px){
    .inner-certificate .certificate1{
        width: 100vw !important;
        height: 230px;
    }
}
