/* Table styles for Admin Users */
.admin-content table {
    width: 100%; /* Take full width of the container */
    border-collapse: collapse; /* Remove extra space between table cells */
    margin: 0 auto; /* Center table horizontally if needed */
}

.admin-content table th,
.admin-content table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-content table th {
    background-color: #98D9C2;
    color: white;
    font-weight: bold;
}

.admin-del-btn{
    background-color: #EF3E36;
    transition: background-color 0.5s ease-in-out;
    border: none;
    padding: 5px;
    color: aliceblue;
    cursor: pointer;
}

.admin-del-btn:hover{
    background-color: #FF6B6B;

}

.admin-edit-btn{
    background-color: #4ECDC4;
    transition: background-color 0.5s ease-in-out;
    border: none;
    padding: 5px;
    color: aliceblue;
    cursor: pointer;
}

.admin-edit-btn:hover{
    background-color: #2A628F;

}