.blog-card-main {
  display: flex;
  gap: 50px;
}

.blog-card {
  height: 350px;
  width: 300px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px; /* Optional: Adds smooth corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Adds layered depth */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
  cursor: pointer;
}

/* Hover Effect for Interactivity */
.blog-card:hover {
  transform: translateY(-10px); /* Slight lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.blog-card-title{
    color: #e71d36;
}

.blog-card-date{
    color: #E8871E;
}

.blog-card img {
  width: 300px;
  height: 200px;
}
