.chatbox-container {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

@media (max-width: 768px) {
  .chatbox-container {
    width: 230px;
  }
}

.chatbox-container.open {
  bottom: 20px;
  right: 20px;
}

.chatbox-header {
  background-color: #F2C14E;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.chatbox-body {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  font-size: 14px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 80%;
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  word-wrap: break-word;
}

.message.bot {
  background-color: #e1e1e1;
  align-self: flex-start;
}

.message.user {
  background-color: #4CAF50;
  color: #fff;
  align-self: flex-end;
}

.chatbox-input {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.chatbox-input input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.chatbox-input button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chatbox-input button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .chatbox-body {
    height: 250px;
    font-size: 12px;
  }

  .chatbox-input input {
    padding: 6px;
  }

  .chatbox-input button {
    padding: 6px 12px;
  }
}
