.error_div {
  background-image: url("/images/404_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80vw;
  height: 550px;
  border-radius: 50px;
  margin: auto auto;
}

@media (max-width: 515px){
  .error_div{
    height:300px;
  }
}