.feedback-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-image: url("/images/ss1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.feedback-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e71d36;
}

.feedback-container p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  text-align: left;
}

.feedback-container .form-group label {
  font-size: 14px;
  color: #e71d36 !important;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.submit-btn {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #f25f5c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.submit-btn:hover {
  background-color: #e9806e;
}

.thank-you {
  font-size: 18px;
  color: #333;
}

.feedback-form-img {
  display: flex;
}

.feedback-beside-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
}
.feedback-beside-img img {
  width: 90%;
  height: 90%;
  object-fit: contain; /* Ensures the full image is visible */
}

/* Responsive styles */
@media (max-width: 1024px) {
  /* For tablets and smaller screens */
  .feedback-container {
    padding: 15px;
  }

  .feedback-container h1 {
    font-size: 22px;
  }

  .feedback-container p {
    font-size: 14px;
  }

  .form-group label {
    font-size: 13px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 13px;
    padding: 8px;
  }

  .submit-btn {
    font-size: 15px;
    padding: 8px 12px;
  }
}

@media (max-width: 768px) {
  /* For small tablets and mobile screens */
  .feedback-container {
    padding: 10px;
  }

  .feedback-container h1 {
    font-size: 20px;
  }

  .feedback-container p {
    font-size: 13px;
  }

  .form-group label {
    font-size: 12px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 12px;
    padding: 6px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .feedback-container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
  }

  .feedback-container h1 {
    font-size: 18px;
  }

  .feedback-container p {
    font-size: 12px;
  }

  .form-group label {
    font-size: 11px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 11px;
    padding: 5px;
  }

  .submit-btn {
    font-size: 13px;
    padding: 8px 12px;
  }

  .feedback-beside-img {
    display: none; /* Hide the element on small screens */
  }
}
