.footer {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }
  