.hero {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  /* padding: 0rem; */
}

.hero-content {
  text-align: center;
  color: black;
  font-family: "Poppins", serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.hero-content h1 {
  padding: 0px;
  margin: 0px;
}

.hero img {
  width: 80vw;
  max-width: 100%;
  height: 600px;
  border-radius: 50px;
}

.know-us-better-home {
  margin-top: 60px;
}

.social-links {
  margin-top: 100px;
  margin-bottom: -30px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  gap: 15px;
}

.social span {
  color: black;
  font-size: larger;
}

.social p {
  margin: 0;
  transition: transform 0.3s ease;
}

.social p:hover {
  transform: scale(1.2);
}

.slideshow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.safety-for-all-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 70px;
}

.know-us-better-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.service-card h3 {
  color: #e71d36;
}

@media (max-width: 950px) {
  .hero img {
    width: 100vw;
    border-radius: none;
  }

  .slideshow {
    display: flex;
    flex-direction: column;
  }

  .safety-for-all-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .know-us-better-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero img {
    width: 80vw !important ;
  }

  .social {
    width: 80vw;
    gap: 10px;
  }

  .social span {
    font-size: medium;
  }
}

@media (max-width: 725px) {
  .hero img {
    width: 80vw;
    max-width: 100%;
    height: 350px;
    border-radius: 50px;
  }
}

@media (max-width: 525px) {
  .hero {
    padding: 0rem !important;
  }

  .hero img {
    width: 80vw;
    max-width: 100%;
    height: 300px;
    border-radius: 50px;
  }
}

@media (max-width: 525px) {
  .hero img {
    width: 80vw;
    max-width: 100%;
    height: 270px;
    border-radius: 50px;
  }
}

.services {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 100px;
  /* background-image: url("/images/car1bg.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 800;
}

.service-cards {
  background: linear-gradient(to right, #f0f8ff, #e6e6fa);
  border-radius: 40px;
}

.service-header {
  color: #e71d36;
  background: linear-gradient(to right, #f0f8ff, #e6e6fa);
  border: none;
  border-radius: 17px;
  display: inline;
  padding: 10px;
  margin-bottom: 13px;
}

.service-card {
  /* background-image: url("/images/bgg3.jpg"); */
  /* background-color: #ffffff; */
  background-image: url("/images/blue5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.service-card h3 {
  color: #e71d36;
}

.service-card p {
  color: #555;
}

.service-card:hover {
  transform: scale(1.2);
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.service-card-link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 480px) {
  .hero {
    overflow-x: hidden;
  }
  .social {
    width: 90vw;
    gap: 8px;
  }

  .social span {
    font-size: small;
  }

  .hero img {
    border-radius: 0px;
    width: 100vw !important;
  }

  .services{
    width: 100%;
    margin: 0;
    margin-top: 48px;
    padding: 0;
  }

  .service-cards{
    width: 100%;
    border-radius: 0px;
  }

  /* .safety-for-all-home{
    width: 100%;
  } */
  .slideshow {
    width: 100vw; /* Ensures full viewport width */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    box-sizing: border-box; /* Includes padding and border in width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .safety-for-all-home {
    display: flex;
    flex-direction: row;
    margin-top: 45px !important;
    gap: 0px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .know-us-better-home {
    display: flex;
    flex-direction: row;
    /* background-color: #16abcc; */
    gap: 0px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .feedback-slideshow{
    margin-top: 45px !important;
  }
}

@media (max-width: 1160px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    max-width: 80%;
    margin-bottom: 20px;
  }
}
