.signup-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #001f3f, #005f99, #00aaff, #66ccff);


}

.signup-heading-color{
    color:#fff;
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form .form-group {
    margin-bottom: 15px;
}

.signup-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    width: 60%;
    margin: 25px auto;
    display: block;
    background-color: #f25f5c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.signup-button:hover {
    background-color: #e9806e;
}

.signup-container .user-check button {
    text-decoration: none;
    color: whitesmoke;
    border:none;
    padding: 10px;
    background-color: #EF3E36;
    border-radius: 17px;
    cursor: pointer;
    transition:background-color 0.6s ease-in-out;
}

.signup-container .user-check button:hover {
    background-color: #17BEBB;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .signup-container {
        padding: 15px;
    }

    .signup-button {
        width: 80%;
    }

    .signup-form .form-group label {
        font-size: 14px;
    }

    .signup-form input {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .signup-container {
        padding: 10px;
        width: 70%;
    }

    .signup-form .form-group label {
        font-size: 12px;
    }

    .signup-form input {
        font-size: 12px;
        padding: 6px;
    }

    .signup-button {
        font-size: 14px;
        width: 90%;
    }
}

@media screen and (max-width: 430px){
    .signup-container{
        width: 100%;
        margin-right: 8px;
    }

    .signup-container .form-group input{
        width: 90%;
    }
}
