.search-box {
  display: flex;
  align-items: center;
  width: 100%; /* Full width of the navbar */
  max-width: none; /* Remove any fixed width limit */
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.search-input {
  flex: 3; /* 75% of the space */
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 18px;
  height: 50px;
  box-sizing: border-box;
}

.search-btn {
  flex: 1; /* 12.5% of the space */
  background-color: #2E5077;
  color: white;
  border: none;
  font-size: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn {
  flex: 1; /* 12.5% of the space */
  background-color: #4DA1A9;
  color: white;
  font-size: 27px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effects */
.search-btn:hover, .filter-btn:hover {
  background-color: #45a049;
}
