.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 90px;
  margin-top: 30px;
  overflow: hidden;
  gap: 0px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 18px;
  width: 70px;
  height: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 16px;
  margin-right: 0; /* Remove margin on the right */
}

.search-btn {
  background-color: #8CC084;
  border: none;
  color: white;
  width: 50px;
  height: 48px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.search-btn:hover {
  background-color: #ee7674;
}

.search-btn svg {
  width: 40%;
  height: 40%;
}

@media (max-width: 630px) {
  .search-input {
    font-size: 14px;
    width: 330px !important;
    height: 30px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .search-btn svg {
    width: 40% !important;
    height: 40% !important;
  }
}

@media (max-width: 480px) {
  .search-input {
    font-size: 14px;
    width: 280px !important;
    height: 30px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .search-btn svg {
    width: 40% !important;
    height: 40% !important;
  }
}

