.search-box {
  display: flex;
  align-items: center;
  width: 40%;
  position: absolute;
  top: 90px;
  right: 35px;
  max-width: none; 
  margin-top:30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.search-input {
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 18px;
  width: 75%;
  height: 50px;
  box-sizing: border-box;
}

.search-btn {
  background-color: #2E5077;
  color: white;
  border: none;
  font-size: 20px;
  height: 50px;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn {
  background-color: #4DA1A9;
  color: white;
  font-size: 27px;
  border: none;
  height: 50px;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effects */
.search-btn:hover, .filter-btn:hover {
  background-color: #45a049;
}

@media (max-width: 900px) {
  .search-box {
    position: absolute;
    top: 110px;
    right: 16px;
    width: 50%;
    justify-content: center; /* Align items in the center */
  }
}

@media (max-width: 530px) {
  .search-box {
    position: absolute;
    top: 110px;
    right: 16px;
    width: 85%;
    justify-content: center; /* Align items in the center */
  }

  .rental-header-main{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}