.trip-planner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:110px;
  }
  
  @media (max-width: 530px) {
    .trip-planner-main {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      transform: none;
      margin-top:110px;
    }
  }
  