.rental-vehicle-heading {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.rental-vehicle-heading {
  text-align: center;
  padding: 20px 0;
  /* background: linear-gradient(135deg, #ff7eb3, #ff758c); */
  background-image: url("/images/background3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 22px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rental-heading-text {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.rental-heading-text .evotto-highlight {
  color: #ffe766;
  font-size: 3rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .rental-heading-text {
    font-size: 2rem;
  }
  .rental-heading-text .evotto-highlight {
    font-size: 2.5rem;
  }
}

.rental-booking-main {
  width: 90vw;
  margin: 10px auto;
  display: flex;
  gap: 20px;
  background-image: url("/images/background3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 22px;
  padding: 20px;
  /* border-radius: 30px; */
  /* overflow: scroll; */
}

.rental-vehicle-img {
  width: 40%;
  height: 300px;
  background-color: orange;
}

.rental-vehicle-info {
  padding: 20px;
  width: 60%;
  /* height: 480px; */
  background-image: url("/images/background3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow-y: scroll; */
}

.rental-total-cost {
  color: #e71d36;
  font-size: 30px;
}

.rental-car-name {
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
  color: #ffffff;
}

.rental-pay-now-btn {
  background-color: #e71d36;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color ease-in-out 0.5s;
  font-weight: bold;
  width: 150px;
}

.rental-pay-now-btn:hover {
  background-color: #e25d36;
}

.rental-vehicle-description-heading {
  color: #fdfdff;
}

.rental-vehicle-description {
  color: #62929e;
}

.trip-planner-info {
  display: flex;
  gap: 40px;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.trip-planner-info .pickup-info {
  background-image: url("/images/bluebg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fdfdff;
  padding: 13px;
  border-radius: 15px;
}

.trip-planner-info .dropoff-info {
  background-image: url("/images/bluebg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fdfdff;
  padding: 13px;
  border-radius: 15px;
}

.rental-vehicle-description .rental-offer-list {
  list-style: none;
}

.rental-offer-list li {
  display: flex;
  align-items: center;
  gap: 15px; 
  margin-left: -40px;
}

.icon {
  flex-shrink: 0; 
}
