.ride-options-container {
    text-align: center;
    padding: 20px;
    margin-top: 110px;
  }
  
  .ride-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111;
  }
  
  .ride-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .ride-card {
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;
  }
  
  .ride-card h3 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .ride-card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
  
  .ride-image {
    height: 100px;
    background-image: url('/images/ride1.png');
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
  }

  #distance-img {
    background-image: url('path-to-distance-image.png'); /* Replace with actual path */
  }
  
  #duration-img {
    background-image: url('path-to-duration-image.png'); /* Replace with actual path */
  }
  