.safety-for-all-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:#fff; 
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: left;
  padding: 0px;
  max-width: 450px;
  height: 410px;
}

.safety-for-all-container h2 {
  font-size: 24px; /* Larger headline */
  font-weight: 700; /* Make the text bold */
  color: #000; /* Black text */
  margin-bottom: 15px; /* Increased spacing below the heading */
}

.safety-for-all-container p {
  font-size: 16px; /* Larger paragraph font size */
  font-weight: 400; /* Normal weight */
  color: #333; /* Slightly lighter black text */
  line-height: 1.8; /* Increase readability with more line spacing */
  margin-bottom: 25px; /* Increased spacing below the paragraph */
  text-align: left;
  padding: 10px;
}

.know-more-button {
  background-color: #e71d36;
  color: white; /* Black text */
  font-size: 18px; /* Larger text size for the button */
  font-weight: 600; /* Semi-bold text */
  border: none; /* Remove border */
  padding: 12px 24px; /* Increased button size */
  border-radius: 25px; /* Rounded edges */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: left; /* Center align the text */
}

.safety-image {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-image: url("/images/safety2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid white;
  width: 430px;
  height: 406px;
  padding: 0px; /* Increased spacing around the content */
  text-align: left; /* Align text to the left */
  max-width: 450px; /* Slightly wider container */
  margin: 0px;
}

.know-more-button a {
  text-decoration: none;
  color: white;
}

.know-more-button:hover {
  background-color: #e71d99; /* Slightly darker yellow on hover */
}

@media (max-width: 768px){
  .safety-for-all-container{
    width: 50%;
  }
}

@media (max-width:430px){
  .safety-for-all-container {
    background-color: #fff;
    border-radius: 0px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: left; 
    width: 50%;
    height: 170px !important;
    padding: 5px !important;
  }

  .safety-for-all-container h2 {
    font-size: 12px; /* Larger headline */
    font-weight: 700; /* Make the text bold */
    color: #000; /* Black text */
    margin-bottom: 10px; /* Increased spacing below the heading */
  }

  .safety-for-all-container p {
    font-size: 6px; /* Larger paragraph font size */
    font-weight: 400; /* Normal weight */
    color: #333; /* Slightly lighter black text */
    margin-bottom: 15px; /* Increased spacing below the paragraph */
  }

  .safety-image{
    width: 190px;
    height: 175px;
    border-radius: 0px;
  }

  .know-more-button{
    font-size: 12px !important;
    padding: 6px !important;
  }
}