.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ce2c;
  padding: 5px 35px 5px 35px;
  width: 200px;
}

.header h2 {
  color: aliceblue;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buy-btn {
  background-color: #50c5b7;
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.buy-btn:hover {
  background-color: #d96c06;
}

.sell-btn:hover {
  background-color: #d96c06;
}

.sell-btn {
  background-color: #6184d8;
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  font-size: larger;
  transition: background-color 0.6s ease;
}

@media (max-width: 400px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ce2c;
    padding: 5px 20px 5px 20px;
    width: 200px;
  }
}

@media (max-width: 310px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ce2c;
    padding: 0px 10px 0px 10px;
    width: 200px;
  }

  .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
}
