.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.comingsoon-heading {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-hand-comingsoon {
  width: 900px;
  height: 450px;
  margin: auto auto;
  background-image: url("/images/comingsoon6.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 55px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0544f;
  padding: 5px 35px 5px 35px;
  width: 200px;
}

.header h2 {
  color: aliceblue;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buy-btn {
  background-color: #50c5b7;
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.buy-btn:hover {
  background-color: #d96c06;
}

.sell-btn:hover {
  background-color: #d96c06;
}

.sell-btn {
  background-color: #6184d8;
  border: none;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  font-size: larger;
  transition: background-color 0.6s ease;
}

@media (max-width: 975px) {
  .second-hand-comingsoon {
  width: 600px;
  height: 350px;
}
}

@media (max-width: 690px) {
  .second-hand-comingsoon {
  width: 400px;
  height: 250px;
}
}

@media (max-width: 450px) {
  .second-hand-comingsoon {
  width: 300px;
  height: 200px;
}
}

@media (max-width: 400px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    width: 200px;
  }
}

@media (max-width: 310px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    width: 200px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
