.trip-planner {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.trip-planner h2 {
  color: whitesmoke;
}

.trip-planner-form {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.trip-section {
  width: 80%;
  height: 100px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #e71d36;
  color: aliceblue;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 5px;
}

.input-style {
  border: none;
  height: 25px;
  border-radius: 7px;
}

@media (max-width: 800px) {
  .trip-planner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .trip-planner-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  .trip-section {
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #e71d36;
    color: aliceblue;
  }
}

@media (max-width: 500px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }

  .trip-planner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .trip-section {
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #e71d36;
    color: aliceblue;
  }

  .input-style {
    border: none;
    height: 20px;
    width: 70px;
    border-radius: 7px;
    font-size: 8px;
  }

  .section-header {
    font-size: smaller;
  }

  .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    font-size: smaller;
  }

}