/* General styles */
.profile-container {
  width: 90%;
  max-width: 1200px;
  height: auto;
  padding: 20px;
  background-image: url('/images/profilebg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.profile-card {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  background-image: url("/images/profilebg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.profile-header h2 {
  text-align: center;
  color: #F7EF81;
}

.profile-info {
  margin-top: 20px;
}

.profile-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: white;
}

.profile-detail .label {
  font-weight: bold;
  color: #FB3640;
}

.profile-detail .value {
  color: #A7C957;
}

.profile-actions {
  margin-top: 20px;
  text-align: center;
}

.edit-btn {
  padding: 10px 20px;
  background-color: #BC4749;
  color: whitesmoke;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  margin-top: 35px;
}

.edit-btn:hover {
  background-color: #FF8966;
}

.edit-btn:focus {
  outline: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-container {
    width: 95%;
    margin-top: 60px;
  }

  .profile-card {
    width: 90%;
    padding: 15px;
  }

  .profile-detail {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-detail .label {
    margin-bottom: 5px;
  }

  .edit-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .profile-container {
    width: 90%;
    margin-top: 40px;
    background-image: none;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .profile-card {
    padding: 10px;
  }

  .profile-header h2 {
    font-size: 1.5rem;
  }

  .edit-btn {
    font-size: 1rem;
    padding: 8px 15px;
  }
}
